# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml
.streamlit/
!/.streamlit/config.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
